section {
  color: #fff;
  background-color: #333;
}

section.is-dark {
  background-color: #222;
}

a {
  color: #393;
}

a:hover {
  color: #9a9;
}

#social a {
  padding: 0 0.5rem;
}

#footer {
  background-color: #111;
}

.title,
.content .title {
  color: #0a0;
}

.subtitle {
  color: #ccc;
}

#header.hero {
  background-color: #000;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width < 900px) and (orientation: portrait) {
  #header.hero {
    background-position: 20%;
  }
}
