section {
	color: #FFF;
	background-color: #333;
}

a {
	color: #393;
}

a:hover {
	color: #9A9;
}

#contact {
	background-color: #222;
}

#social a {
	padding: 0 1rem;
}

#footer {
	background-color: #111;
}

.title, .content .title {
	color: #0A0;
}

.subtitle {
	color: #CCC;
}

#header.hero {
	background-color: #000;
	background-image: url(bg.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
